In [5]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import time
import requests

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
executable_path = executable_path = {'executable_path': "./chromedriver"}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Driver [C:\Users\khenn\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [3]:
#Visit the url for news article information
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text, 'html.parser')

In [1]:
#Check for results
print(soup.prettify())

In [6]:
#Get desired result for title
results = soup.find('div', class_='content_title')

In [7]:
#Check results
print(results)

<div class="content_title">
<a href="/news/8919/nasa-to-attempt-first-controlled-flight-on-mars-as-soon-as-monday/">
NASA to Attempt First Controlled Flight on Mars As Soon As Monday
</a>
</div>

In [8]:
#Save desired results as variable text
news_title = results.a.text

In [9]:
#Confirm variable results
print(news_title)

NASA to Attempt First Controlled Flight on Mars As Soon As Monday

In [10]:
#Get desired result for news preview
results2 = soup.find('div', class_= "rollover_description_inner")

In [11]:
#Save desired result as variable text
news_preview = results2.text.strip()

In [12]:
#Confirm variable results
print(news_preview)

A livestream will begin at 3:15 a.m. PDT that morning as the helicopter team prepares to receive the data downlink at NASA’s Jet Propulsion Laboratory.

In [ ]:
#############################################

In [13]:
#Go to website for next section
getimage_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(getimage_url)

In [14]:
# Retrieve page with the requests module
response_image = requests.get(getimage_url)
# Create BeautifulSoup object; parse with 'html.parser'
soup_image = bs(response_image.text, 'html.parser')

In [2]:
#Check for results
# print(soup_image.prettify())

In [45]:
#Get desired result for image
image = soup_image.find('div', class_ ='floating_text_area')

In [46]:
#Confirm result
print(image)

<div class="floating_text_area">
<h2 class="brand_title">FEATURED IMAGE</h2>
<h1 class="media_feature_title">Dusty Space Cloud</h1>
<br/>
<a class="showimg fancybox-thumbs" href="" target="_blank"> <button class="btn btn-outline-light"> FULL IMAGE</button></a>
</div>

In [49]:
#Get link to full size image
browser.links.find_by_partial_text('IMAGE').click()

In [19]:
featured_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'

In [ ]:
#############################################

In [3]:
#Use Pandas to scrape info in to datatable
import pandas as pd
facts_url = 'https://space-facts.com/mars/'
tables = pd.read_html(facts_url)
tables_df = pd.DataFrame(tables)
tables_df.head()
# browser.visit(facts_url)

C:\Users\khenn\anaconda3\lib\site-packages\pandas\core\internals\construction.py:305: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0                        0                       ...
1    Mars - Earth Comparison             Mars    ...
2                        0                       ...

In [15]:
# Retrieve page with the requests module
response_table = requests.get(facts_url)
# Create BeautifulSoup object; parse with 'html.parser'
soup_table = bs(response_table.text, 'html.parser')

In [16]:
#Get table data
facts_url = 'https://space-facts.com/mars/'
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [3]:
#Confirm results in HTML
print(soup_table.prettify())

In [30]:
#Get mars data from table
df = tables[0]
df

            Description
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [33]:
#Rename Columns
df.columns = ['Description', '']

In [34]:
#Print df to confirm
df

            Description
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [41]:
#Drop index display
html_data_table = df.to_html(index=False)

In [42]:
#Confirm data table
html_data_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [43]:
#Clean '\n' tags from results
html_table_clean = html_data_table.replace('\n', '')

In [44]:
#Confirm html w/o '\n'tags
html_table_clean

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
#############################################

In [30]:
#Visit URL for next section
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [31]:
#Create soup object
soup = bs(browser.html, 'html.parser')

In [32]:
#Get desired results from soup
divs = soup.find_all('div', class_ ='item')

In [36]:
#Declare base url
base_url = 'https://astrogeology.usgs.gov'

In [39]:
#Get info for hemispheres title and urls
hemisphere_dict = []
for div in divs:
    a_tag = div.find("a")
    img_url = base_url + a_tag.attrs['href']
    browser.visit(img_url)
    soup = bs(browser.html, "html.parser")
    img_url = soup \
        .find("div", class_="wide-image-wrapper") \
        .find('li') \
        .find("a").attrs['href']
    title = soup \
        .find('div', class_='content') \
        .find('h2').text
    temp_dict = {'title' : title, 'img_url':img_url}
    hemisphere_dict.append(temp_dict)
print(hemisphere_dict)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [40]:
#For creating mars_data dictionary
mars_data = {}

In [43]:
#Dictionary Values
mars_data['news_title'] = news_title
mars_data['news_preview'] = news_preview
mars_data['featured_image_url'] = featured_image_url
mars_data['html_table'] = html_table
mars_data['hemis_dict'] = hemisphere_dict

{'title': 'Valles Marineris Hemisphere Enhanced', 'news_title': '\nNASA to Attempt First Controlled Flight on Mars As Soon As Monday\n', 'news_preview': 'A livestream will begin at 3:15 a.m. PDT that morning as the helicopter team prepares to receive the data downlink at NASA’s Jet Propulsion Laboratory.', 'featured_image_url': 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg', 'hemis_dict': [{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]}

In [44]:
browser.quit()